[phases.setup]
nixPkgs = ["nodejs_22"]

[phases.install]
cmds = ["npm install --legacy-peer-deps"]

[phases.build]
cmds = ["npm run build"]
cacheDirectories = []

[start]
cmd = "serve dist -s -l $PORT"
